{% extends "base.html" -%} {% block body -%}bg-landing {% endblock -%} {% block
content_container -%}container h-100 align-middle{% endblock -%} {% block
content -%}

<div class="jumbotron z-depth-2 my-5">
  <h1 class="display-4">{% trans -%}Welcome to basho{% endtrans -%} </h1>
  <p class="lead">
    {{ "index"|get_unit }}
  </p>
  <hr class="my-4" />
  <p>
    It uses utility classes for typography and spacing to space content out
    within the larger container.
  </p>
  <p class="lead">
    <a class="btn btn-raised btn-primary btn-lg btn-dark" href="#" role="button"
      >Learn more</a
    >
  </p>
</div>
{% endblock -%}
